[submodule "3rdparty/blobs"]
	path = 3rdparty/blobs
	url = https://review.coreboot.org/blobs.git
	update = none
	ignore = dirty
[submodule "util/nvidia-cbootimage"]
	path = util/nvidia/cbootimage
	url = https://review.coreboot.org/nvidia-cbootimage.git
[submodule "vboot"]
	path = 3rdparty/vboot
	url = https://review.coreboot.org/vboot.git
[submodule "arm-trusted-firmware"]
	path = 3rdparty/arm-trusted-firmware
	url = git@gitlab.com:dhewg/arm-trusted-firmware.git
[submodule "3rdparty/chromeec"]
	path = 3rdparty/chromeec
	url = https://review.coreboot.org/chrome-ec.git
[submodule "libhwbase"]
	path = 3rdparty/libhwbase
	url = https://review.coreboot.org/libhwbase.git
[submodule "libgfxinit"]
	path = 3rdparty/libgfxinit
	url = https://review.coreboot.org/libgfxinit.git
