##
## This file is part of the coreboot project.
##
## Copyright 2015 Google Inc.
##
## This program is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; version 2 of the License.
##
## This program is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##

if BOARD_NINTENDO_SWITCH

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select COMMON_CBFS_SPI_WRAPPER
	select MAINBOARD_HAS_NATIVE_VGA_INIT
	select MAINBOARD_FORCE_NATIVE_VGA_INIT
	select SPI_FLASH
	select SPI_FLASH_WINBOND
	select SOC_NVIDIA_TEGRA210
	select MAINBOARD_DO_DSI_INIT

config BOOTBLOCK_WRAP_BCT
	def_bool n

config MAINBOARD_DIR
	string
	default nintendo/switch

config MAINBOARD_PART_NUMBER
	string
	default "Switch"

config DRAM_SIZE_MB
	int
	default 4096

choice
	prompt "BCT boot media"
	default SMAUG_BCT_CFG_SPI
	help
	  Which boot media to configure the BCT for.

config SMAUG_BCT_CFG_SPI
	bool "SPI"
	help
	  Configure the BCT for booting from SPI.

config SMAUG_BCT_CFG_EMMC
	bool "eMMC"
	help
	  Configure the BCT for booting from eMMC.

endchoice

config BOOT_DEVICE_SPI_FLASH_BUS
	int "SPI bus with boot media ROM"
	range 1 7
	depends on SMAUG_BCT_CFG_SPI
	default 7
	help
	  Which SPI bus the boot media is connected to.

endif # BOARD_NINTENDO_SWITCH
